<%# <h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p> %>



<% provide(:title, "Help") %>
<div>
	<h1>Help</h1>
	<p>Get help on the Rubu on Rails Tutorial at the book</p>
</div>