<% if defined?(@feed_items) && @feed_items.any? %>
  <ol class="microposts">
    <hr>
    <h3> Micropost Feed </h3>
    <%= render @feed_items %>
    <hr>
  </ol>
  <div class="pagination-container text-center">
    <%= will_paginate @feed_items %>
  </div>
<% end %>
