$gray-medium-light: #eaeaea;
$gray-light: #dcdcdc;
$gray-darker: #333333;
$gray-500: #adb5bd; 
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray-500;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
@media (max-width: 800px) {
footer { small {
display: block; float: none; margin-bottom: 1em;
}
ul {
float: none; padding: 0; li {
float: none;
margin-left: 0; }
} }
}